
body {
  padding: .5rem;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  body {
    padding: 2rem;
  }
}

.app-root-div {
  border: indigo 1px solid;
  margin: 0 auto;
  width: 800px;
}

.root-ele {
  display: inline-block;
  width: 30%;
  margin: 7px;
}

input {
  padding: 1rem;
  color: red;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px fuchsia solid;
}

button {
  background-color: mediumvioletred;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: wheat;
  font-size: 1rem;
  padding: 1rem;
}

button:hover {
  background-color: orangered;
  color: white;
}


